<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

    <link href="/assets/styles/style.css" rel="stylesheet">

    <title>Domotica</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Domotica - Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">My profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Edit form for INPUT -->
    <div class="modal fade" id="frmInput" tabindex="-1" role="dialog" aria-labelledby="frmInputLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="frmInputLabel">
                        <% language.msgInEditTitle %>
                    </h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="frmInGpio" class="form-control-label"><%= language.gpio %>:</label>
                            <select id="frmInGpio" class="form-control">
                    </select>
                        </div>
                        <div class="form-group">
                            <label for="frmInEdge" class="form-control-label"><%= language.edge %>:</label>
                            <select id="frmInEdge" class="form-control">
                        <option>none</option><option>falling</option><option>raising</option><option>both</option>
                    </select>
                        </div>
                        <div class="form-group">
                            <label for="frmInDescription" class="form-control-label"><%= language.description %>:</label>
                            <input id="frmInDescription" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= language.cancel %></button>
                    <button id="btnSaveInput" type="button" class="btn btn-primary" data-dismiss="modal"><%= language.save %></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit form for OUTPUT -->
    <div class="modal fade" id="frmOutput" tabindex="-1" role="dialog" aria-labelledby="frmOutputLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="frmOutputLabel">
                        <%= language.msgOutEditTitle %>
                    </h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="frmOutGpio" class="form-control-label"><%= language.gpio %>:</label>
                            <select id="frmOutGpio" class="form-control">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="frmOutDescription" class="form-control-label"><%= language.description %>:</label>
                            <input id="frmOutDescription" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="frmOutValue" class="form-control-label"><%= language.value %>:</label>
                            <select id="frmOutValue" class="form-control">
                                    <option><%= language.off %></option><option><%= language.on %></option>
                                </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= language.cancel %></button>
                    <button id="btnSaveOutput" type="button" class="btn btn-primary" data-dismiss="modal"><%= language.save%></button>
                </div>
            </div>
        </div>
    </div>

    <!-- tables -->
    <div id="mainTable" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading align-center"><%= language.inputTableTitle %></div>
            <div class="panel-body">
                <button id="inPortsAdd" type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#frmInput">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;<%= language.add %></button>
                <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><%= language.active %></th>
                                <th><%= language.gpio %></th>
                                <th><%= language.edge %></th>
                                <th><%= language.description %></th>
                                <th><%= language.status %></th>
                                <th><%= language.actions %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<gpios.length; i++) { 
                                if (gpios[i].direction == 'in') { %>
                                    <tr>
                                        <td>
                                            <input class="ios8-switch ios8-switch-sm" id="zone<%= gpios[i].gpio %>" type="checkbox" checked/>
                                            <label for="zone<%= gpios[i].gpio %>">&nbsp;</label>
                                        </td>
                                        <td><%= gpios[i].gpio %></td>
                                        <td><%= gpios[i].edge %></td>
                                        <td><%= gpios[i].description %></td>
                                        <td style="text-align:center">
                                            <input id="btnInput<%= gpios[i].gpio %>" class="btn <%=((gpios[i].value == '0' ) ? 'btn-success' : 'btn-danger')%> btnStatusInput disabled" type="button" value="<%=((gpios[i].value == '0' ) ? language.ok : language.alarm)%>"/>
                                        </td>
                                        <td style="text-align:center">
                                            <button id="edit<%= gpios[i].gpio %>" type="button" class="btn btn-warning btn-sm btnEdit" data-toggle="modal" data-target="#frmInput">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>&nbsp;
                                            <button id="delete<%= gpios[i].gpio %>" type="button" class="btn btn-warning btn-sm btnDelete">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                <% } 
                            } %>      
                        </tbody>
                    </table>        
            </div>
        </div>
        <hr>
        <div class="panel panel-primary">
                <div class="panel-heading align-center"><%= language.outputTableTitle %></div>
                <div class="panel-body">
                    <button id="outPortsAdd" type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#frmOutput">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;<%= language.add %></button>
                    <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><%= language.gpio %></th>
                                    <th><%= language.description %></th>
                                    <th><%= language.status %></th>
                                    <th><%= language.actions %></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i < gpios.length; i++) { 
                                    if (gpios[i].direction == 'out') { %>
                                        <tr>
                                            <td><%= gpios[i].gpio %></td>
                                            <td><%= gpios[i].description %></td>
                                            <td style="text-align:center">
                                            <input id="btnOutput<%= gpios[i].gpio %>" class="btn <%=((gpios[i].value == '0' ) ? 'btn-default' : 'btn-success')%> btnStatusOutput" 
                                                type="button" 
                                                value="<%=((gpios[i].value == '0' ) ? language.off : language.on)%>"/>
                                            </td>
                                            <td style="text-align:center">
                                            <button id="edit<%= gpios[i].gpio %>" type="button" class="btn btn-warning btn-sm btnEdit" data-toggle="modal" data-target="#frmOutput">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>&nbsp;
                                            <button id="delete<%= gpios[i].gpio %>" type="button" class="btn btn-warning btn-sm btnDelete">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                            </td>
                                        </tr>
                                    <% } 
                                } %>      
                            </tbody>
                        </table>
        
                </div>
            </div>
        </div>


    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../node_modules/ejs/ejs.js"></script>
    <script>
        $(document).ready(function () {
            var socket = io.connect();
            socket.on('receiver', function (data) {
                var sender = data.sender;
                var v = data.value;
                console.log('Sender ' + sender + ' - value ' + v);

                var button = $('#btnInput'+sender);

                if (v == 0) {
                    button.removeClass('btn-danger');
                    button.addClass('btn-success');
                    button.val('<%=language.ok%>');
                } else {
                    button.removeClass('btn-success');
                    button.addClass('btn-danger');
                    button.val('<%=language.alarm%>!');
                }

            });
                

            var pins = [];

            $('#frmInput').modal({
                keyboard: true,
                backdrop: "static",
                show: false
            }).on('show.bs.modal', function (event) {
                if (event.relatedTarget) {
                    var senderId = (event.relatedTarget ? event.relatedTarget.id : "");
                    var rowId = (event.relatedTarget.id !== "inPortsAdd" ? senderId.replace('edit', '') : "");

                    if (rowId) { // edit mode
                        var portsOptionHtml = '';
                        for (i = 2; i <= 27; i++) {
                            portsOptionHtml += '<option>' + i + '</option>';
                        }
                        $('#frmInGpio').html(portsOptionHtml);

                        $('#frmInGpio').val(rowId);
                        $('#frmInGpio').prop('disabled', true);
                        var row = $(event.relatedTarget).closest('tr');
                        var columns = row.find('td');

                        $('#frmInEdge').val(columns[2].textContent);
                        $('#frmInDescription').val(columns[3].textContent);
                    } else { // add mode
                        $('#frmInGpio').prop('disabled', false);
                        $('#frmInEdge').val('none');
                        $('#frmInDescription').val('');
                        readAll(function (pins) {
                            var portsOptionHtml = '';
                            var unusedPins = [];
                            for (i = 2; i <= 27; i++) {
                                unusedPins.push(i);
                            }
                            for (i = 0; i < pins.length; i++) {
                                unusedPins[pins[i].gpio] = 0;
                            }
                            for (i = 2; i <= 27; i++) {
                                if(unusedPins[i] > 0) {
                                    portsOptionHtml += '<option>' + i +'</option>';
                                }
                            }
                            $('#frmInGpio').html(portsOptionHtml);
                        });
                    }
                }
            });

            $('#frmOutput').modal({
                keyboard: true,
                backdrop: "static",
                show: false
            }).on('show.bs.modal', function (event) {
                if (event.relatedTarget) {
                    var senderId = (event.relatedTarget ? event.relatedTarget.id : "");
                    var rowId = (event.relatedTarget.id !== "outPortsAdd" ? senderId.replace('edit', '') : "");

                    console.log(senderId);
                    console.log(rowId);
                    if (rowId) { // edit mode
                        var portsOptionHtml = '';
                        for (i = 2; i <= 27; i++) {
                            portsOptionHtml += '<option>' + i + '</option>';
                        }
                        $('#frmOutGpio').html(portsOptionHtml);
                        $('#frmOutGpio').val(rowId);
                        $('#frmOutGpio').prop('disabled', true);
                        var row = $(event.relatedTarget).closest('tr');
                        console.log(row);
                        var columns = row.find('td');
                        console.log(columns);

                        $('#frmOutDescription').val(columns[1].textContent);
                        $('#frmOutValue').val($(columns[2].children[0]).val());
                    } else { // add mode
                        $('#frmOutGpio').prop('disabled', false);
                        readAll(function (pins) {
                            var portsOptionHtml = '';
                            var unusedPins = [];
                            for (i = 2; i <= 27; i++) {
                                unusedPins.push(i);
                            }
                            for (i = 0; i < pins.length; i++) {
                                unusedPins[pins[i].gpio] = 0;
                            }
                            for (i = 2; i <= 27; i++) {
                                if(unusedPins[i] > 0) {
                                    portsOptionHtml += '<option>' + i +'</option>';
                                }
                            }
                            $('#frmOutGpio').html(portsOptionHtml);
                        });
                    }
                }

            });

            $('#btnSaveInput').click(function (event) {
                var result = {};
                result.gpio = $('#frmInGpio').val();
                result.edge = $('#frmInEdge').val();
                result.direction = 'in';
                result.description = $('#frmInDescription').val();
                result.value = -1;
                console.log(result);
                setgpio(result);
            });

            $('#btnSaveOutput').click(function (event) {
                var result = {};
                result.gpio = $('#frmOutGpio').val();
                result.edge = 'none';
                result.direction = 'out';
                result.description = $('#frmOutDescription').val();
                result.value = 0;

                console.log(result);

                setgpio(result);

            });

            $('.btnDelete').click(function (event) {
                var button = $(this);
                var rowID = button.prop('id').replace('delete', '');
                removegpio(rowID);
            });

            $('.btnStatusOutput').click(function (event) {
                var buttonID = $(event.target).prop('id');
                var gpio = buttonID.replace('btnOutput', '');

                console.log(gpio);
                if ($(event.target).hasClass('btn-default')) {
                    $(event.target).removeClass('btn-default');
                    $(event.target).addClass('btn-success');
                    setgpioprop(gpio,1);
                    $(event.target).val('<%=language.on%>');
                } else {
                    $(event.target).removeClass('btn-success');
                    $(event.target).addClass('btn-default');
                    $(event.target).val('<%=language.off%>');
                    setgpioprop(gpio,0);
                }
            });

            $('.ios8-switch').click(function (event) {
                var button = $(this);
                var rowID = button.prop('id').replace('zone', '');
                var checked = button.prop('checked');
                var row = $(this).closest('tr');
                var columns = row.find('td');
                if (!checked) {
                    for (i = 1; i < columns.length; i++) {
                        $(columns[i]).addClass('disabledCell');
                    }
                    setGpioActive(rowID,0);
                } else {
                    for (i = 1; i < columns.length; i++) {
                        $(columns[i]).removeClass('disabledCell');
                    }
                    setGpioActive(rowID,1);
                }
            });

            function setGpioActive(n,v) {
                var data = {
                    "active": v
                };
                var settings = {
                    "async": true,
                    "url": "/setgpioactive/"+n,
                    "method": "PUT",
                    "headers": {
                        "Authorization": "Bearer 1234",
                        "content-type": "application/json",
                        "cache-control": "no-cache"
                    },
                    "data": JSON.stringify(data)
                }
                $.ajax(settings).done(function (response, status, xhr) {
                    if (xhr.status == 200) {
                        console.log(response);
                    } else {
                        console.log("ERROR: " + xhr.status);
                    }
                });

            }
            
            function readAll(cb) {
                var settings = {
                    "url": "/readall",
                    "method": "GET"
                }

                $.ajax(settings).done(function (response, status, xhr) {
                    if (xhr.status == 200) {
                        var json = JSON.parse(response);
                        pins = json;
                        cb(pins);
                    } else {
                        console.log("ERROR: " + xhr.status);
                    }
                });

            }

            function setgpio(p) {
                var data = {
                    "gpio": p.gpio,
                    "active": 1,
                    "direction": p.direction,
                    "edge": p.edge,
                    "description": p.description,
                    "value": p.value
                };
                var settings = {
                    "async": true,
                    "url": "/setgpio",
                    "method": "POST",
                    "headers": {
                        "Authorization": "Bearer 1234",
                        "content-type": "application/json",
                        "cache-control": "no-cache"
                    },
                    "data": JSON.stringify(data)
                }
                $.ajax(settings).done(function (response, status, xhr) {
                    if (xhr.status == 200) {
                        location.reload();
                        console.log(response);
                    } else {
                        console.log("ERROR: " + xhr.status);
                    }
                });
            }

            function setgpioprop(n,v) {
                var data = {
                    "value": v
                };
                var settings = {
                    "async": true,
                    "url": "/setgpioprop/"+n,
                    "method": "PUT",
                    "headers": {
                        "Authorization": "Bearer 1234",
                        "content-type": "application/json",
                        "cache-control": "no-cache"
                    },
                    "data": JSON.stringify(data)
                }
                $.ajax(settings).done(function (response, status, xhr) {
                    if (xhr.status == 200) {
                        //location.reload();
                        console.log(response);
                    } else {
                        console.log("ERROR: " + xhr.status);
                    }
                });
                
            }

            function removegpio(gp) {
                var settings = {
                    "url": "/removegpio/" + gp,
                    "method": "DELETE"
                }

                $.ajax(settings).done(function (response, status, xhr) {
                    if (xhr.status == 200) {
                        location.reload();
                        console.log(response);
                    } else {
                        console.log("ERROR: " + xhr.status);
                    }
                });
            }


            function setPin(n, d, v) {
                var pin = {
                    "number": n,
                    "direction": d,
                    "value": v
                };
                var settings = {
                    "async": true,
                    "url": "/setpin",
                    "method": "POST",
                    "headers": {
                        "Authorization": "Bearer 1234",
                        "content-type": "application/json",
                        "cache-control": "no-cache"
                    },
                    "data": JSON.stringify(pin)
                }
                $.ajax(settings).done(function (response, status, xhr) {
                    if (xhr.status == 200) {
                        console.log(response);
                    } else {
                        console.log("ERROR: " + xhr.status);
                    }
                });
            }
        });
    </script>

</body>

</html>